PORT=5000
REGEX_SERVICE_URL=http://localhost:8001
REFERENCE_SERVICE_URL=http://localhost:8002
FIGURE_SERVICE_URL=http://localhost:8003
GROBID_URL=https://tmkc-100bar-extraction-engine.hf.space
UPLOADS_DIR=./uploads
